<p id="notice"><%= notice %></p>

<%= raw @page.content %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pages_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_page_path(@page), :class => 'btn' if can? :update, @page %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              page_path(@page),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' if can? :delete, @page %>
</div>
